.consent-background {
  background-color: $background-color;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;

  .consent {
    color: $accent-light;
    font-family: $font-else;
    width: 30%;
    max-height: 55%;
    margin: 50px auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid $accent-light;
    border-radius: 40px;
    background: $background-color;

    p {
      width: 80%;
      text-align: center;
      margin: 5px 0;
    }

    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      input[type=checkbox] {
        appearance: none;
      }
      span {
        background-color: $background-color;
        border: 1px solid $accent-light;
        color: $accent-light;
        margin-top: 10px;
        padding: 5px;
        border-radius: 15px;
        &:hover {
          transform: scale(1.3);
        }
      }
    }

  }



}