 .logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $accent-dark;
    font-family: $font-logo;
    font-size: 52px;
    margin: 10px 20px;
    text-align: right;
  }

  .logo-underline {
    margin: 0 20px;
    display: block;
    height: 8px;
    background: linear-gradient(90deg, $accent-light 0%, $accent-dark 100%);
    border: 1px solid $background-color;
  }

  .logo-vinyl {
    margin: 0 1px 2px;
    height: 48px;
    width: 48px;
    fill: $accent-dark;

    @keyframes spin {
      from {transform: rotate(-20deg)}
      to {transform: rotate(290deg)}
    }

    animation: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }