.metronome {
  text-align: center;
  width: 100%;
  background: $background-color;
  margin:  auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bpm-value {
  font-family: $font-else;
  margin: 50px 25px;
  font-size: 2.5em;
  color: $accent-light;
}

input[type=range] {
  appearance: none;
  outline: none;
  cursor: pointer;
  width: 50%;
  max-width: 500px;
  &::-webkit-slider-thumb {
    appearance: none;
    height: 36px;
    width: 16px;
    margin-top: -14px;
    border: 1px solid $background-color;
    border-radius: 3px;
    background: linear-gradient(90deg, $accent-light 0%, $accent-dark 100%);
    box-shadow: 1px 1px 1px $background-color, 0 0 1px $background-color;
  }
  &::-webkit-slider-runnable-track {
    height: 9px;
    box-shadow: 1px 1px 1px $background-color, 0 0 1px $background-color;
    background: linear-gradient(90deg, $accent-light 0%, $accent-dark 50%, $accent-light 100%);
    border: 0.2px solid $background-color;

  }
}

.metronome-button {
  font-family: $font-else;
  background: $background-color;
  padding: 10px 20px;
  margin: 40px 0;
  border: 1px solid $accent-light;
  border-radius: 45px;
  width: 150px;
  color: $accent-light;
  font-size: 1.3em;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
  &:focus {
    outline: none;
  }
}

.metronome-animation {
  position: relative;
  margin-top: 20px;
  height: 5px;
  width: 30%;
  max-width: 350px;
  background: linear-gradient(90deg, $accent-dark 0%, $accent-light 50%, $accent-dark 100%);
  border: 1px solid $background-color;
  .metronome-animation-pointer {
    height: 30px;
    color: $accent-light;
    font-family: $font-else;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border: 1px solid $accent-light;
    border-radius: 45px;
    background-color: $background-color;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}